
body {
  font-family: 'Poppins';
  background: #1a1a1a;
}

header {
  display: flex;
  justify-content: center;
  color: white;
}
.image-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 15px;
}

.logo.telephone {
  max-width: 500px;
  border-radius: 6px;
  /* box-shadow: 0 4px 4px rgba(255, 249, 249, 0.596); */
}

footer {
 
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  
   color: white;
   text-align: center;
}